<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List Realtime</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/vue_todolist.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="container">
        <div id="todo-app">
            <div class="tabs" v-show="isAuth">
                <div class="fn">
                    <h1>TODO LIST</h1>
                    <div>
                        <a href="#" id="change-uid-btn" @click.prevent="logout">登出</a>
                    </div>
                </div>
                <div>現在登入帳號: <span id="current-uid">{{ user.uid }}</span></div>
                <div class="todo-input">
                    <input type="text" id="todo-in" v-mode="todo.text" ref="todo_text">
                    <button id="todo-add-btn" @click.prevent="add">新增</button>
                </div>
                <hr>
                <div class="todo-item-wrap">
                    <ul id="todo-item">
                        <li v-for="(item, index) in items">
                            <input type="checkbox" :checked="item.checked">
                            <span>{{ item.text }}</span>
                        </li>
                        <!-- <li>
                    <input type="checkbox">
                    <span>TEXT</span>
                </li> -->
                    </ul>
                </div>
            </div>

            <div class="tabs" v-show="!isAuth">
                <h1>請輸入帳號</h1>
                <div class="todo-input">
                    <input type="email" id="todo-account" placeholder="Email" v-model="auth.account" ref="auth_account">
                </div>
                <h1>請輸入密碼</h1>
                <div class="todo-input">
                    <input type="password" id="todo-password" placeholder="密碼" v-model="auth.secret" ref="auth_secret">
                </div>
                <div class="todo-input" style="justify-content: space-between;">
                    <button id="todo-register-btn" class="linker" @click.prevent="register">註冊</button>
                    <button id="todo-signin-btn" @click.prevent="login">登入</button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <script type="module" src="assets/js/js_todolist_realtime.js"></script> -->
<script type="module" src="assets/js/vue_todolist_realtime.js"></script>

</html>