.wrap {
    margin: 60px auto;
    width: 800px;
}


.block {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
    transform: rotate(45deg);
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word {
    transform: rotate(135deg);
}