.wrap,
.fn {
    margin: 20px auto;
}

.fn {
    display: flex;
    gap: 20px;
}

.fn button {
    padding: 10px 20px;
    border: 0;
    background: #2e36a8;
    color: #fff;
    cursor: pointer;
}

.block {
    width: 200px;
    height: 200px;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    animation-duration: 1s;
    position: relative;
}

.block.change-color {
    background: yellow;
    color: red;
    left: 200px;
    animation-name: change-color2;
}

.block.infinite {
    animation-iteration-count: infinite;
}


.block.property {
    transition-property: background-color;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: 500px;
}

.info-item {
    width: 200px;
    height: 100px;
    background-color: #dedede;
    margin-bottom: 20px;
    transition: 1s;
}

.info-item.t1 {
    position: absolute;
    left: 0;
}

.info-item.t2 {
    position: absolute;
    top: 100px;
    right: 0;
    transition-delay: 1s;
}

.info-wrap.active .t1 {
    left: 50%;
}

.info-wrap.active .t2 {
    right: 50%;
}

.runrunrun {
    position: relative;
    left: 0;
}

.runrunrun.active {
    animation-name: runrunrun;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes runrunrun {
    0% {
        left: 0;
    }

    100% {
        left: 300px;
    }
}

@keyframes change-color {
    from {
        background: red;
        color: #fff;
        left: 0;
    }

    to {
        background: yellow;
        color: red;
        left: 200px;
    }
}

@keyframes change-color2 {
    0% {
        background: red;
        color: #fff;
        left: 0;
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        background: yellow;
        color: red;
        left: 200px;
    }
}