.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(29, 95, 219);
    position: relative;
    overflow: hidden;
}

.cloud {
    width: 500px;
    height: 150px;
    background: #fff;
    transform: translate(0px, 300px);
    border-radius: 5000px;
    position: relative;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.cloud::after {
    content: '';
    position: absolute;
    top: -56px;
    left: 61px;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background: inherit
}

.cloud::before {
    content: '';
    position: absolute;
    top: -170px;
    right: 61px;
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    background: inherit
}

.cloud:nth-child(2) {
    transform: scale(0.5) translate(-100px, 1000px);
    animation-duration: 1s;
}

.cloud:nth-child(3) {
    transform: scale(1.1) translate(-800px, 700px);
    animation-duration: 6s;
}

@keyframes fly {
    0% {
        left: 0;
        background-color: #fff;
    }

    100% {
        left: 100%;
        background-color: red;
    }
}