.todo-input {
    display: flex;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
}

.todo-input input {
    height: 50px;
    padding: 10px;
    border: 1px solid #dedede;
    outline: 0;
    flex: 1;
    border-radius: 8px;
    font-size: 1.2rem;
}

.todo-input button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
    border: 0;
    border-radius: 8px;
    background-color: #1154a1;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.todo-input button:hover {
    background: #1f4570;
}

.todo-item-wrap {
    margin-top: 10px;
}

/* .todo-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
} */

#todo-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#todo-item>li {
    display: flex;
    align-items: center;
    border: 1px solid #dedede;
    padding: 10px 5px;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#todo-item>li:hover {
    background: #3739b3;
    color: #fff;
    border-color: #3739b3;
}

#todo-item>li>input[type=checkbox]:checked+span {
    text-decoration: line-through;
}

.tabs {
    display: none;
}

.tabs.active {
    display: block;
}

.fn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}