body {
    background: #dedede;
    font-size: 16px;
}

.footer {
    background: #fff;
    height: 100px;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.copyright {
    font-size: 0.9rem;
}