body {
    background: #000000;
    font-size: 16px;
}

.footer {
    background: #fff;
    height: 100px;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.copyright {
    font-size: 0.9rem;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 3;
}

.header-row {
    background: rgba(255, 255, 255, 0.89);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-row .menu ul {
    display: flex;
    gap: 20px;
}

.header-row .menu li {
    text-align: center;
    transition: 0.4s;
}

.header-row .menu li:hover {
    color: red;
}

.header-row .menu .en {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.header-row .menu .zh {
    font-size: 1.2rem;
    font-weight: 700;
}


.page {
    height: 100vh;
}

.p-1 {
    background-color: rgb(63, 63, 63);
    background-image: url(../images/one_page/banner.jpeg);
    background-size: cover;
    position: relative;
}

.p-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.116);
}

.p-1 .page-position {
    display: flex;
    align-items: center;
    height: 100%;
}

.p-1 .page-row {
    background: rgba(14, 50, 80, 0.9);
    width: 100%;
    display: flex;
    color: #fff;
    border-radius: 10px;
    min-height: 300px;
}

.p-1 .page-row>div {
    width: 50%;
    padding: 20px;
}

.p-1 .page-row .left-side {
    position: relative;

}

.p-1 .page-row .left-side::after {
    content: '';
    position: absolute;
    width: 0;
    height: 70%;
    top: 15%;
    right: 0;
    border-right: 3px dashed #fff;
}

.slogan {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.slogan::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 140px);
    width: 0;
    height: 3px;
    border-left: 100px solid #1072c2;
    border-right: 180px solid #fff;
}

.content {
    line-height: 26px;
    font-size: 0.9rem;
    text-align: justify;
}

.form-item {
    margin-bottom: 15px;
}

.form-item input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 0;
    outline: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.3rem;
}

.form-button {
    text-align: right;
}

.form-button button {
    padding: 10px 20px;
    border: 0;
    background: #0845a0;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.form-button button:hover {
    background: rgb(255, 59, 45);
}


.p-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/one_page/process.jpeg);
    background-size: cover;
    position: relative;
}

.p-2 .slogan {
    color: #fff;
}

.p-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
}


.flow {
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item-circle {
    --r: 30px;
    width: var(--r);
    height: var(--r);
    border-radius: var(--r);
    background-color: red;
    position: relative;
    z-index: 2;
}

.flow-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 4px;
}

.flow-item::after {
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    height: 100%;
    border: 2px dashed #fff;
}

.item-content {
    position: absolute;
    left: calc(50% + 50px);
    padding: 20px;
    background: #0f7b83;
    color: #fff;
    border-radius: 6px;
    text-align: left;
}

.item-content h2 {
    margin-bottom: 15px;
}

.flow-item:nth-child(even) .item-content {
    left: unset;
    right: calc(50% + 50px);
    text-align: right;

}