*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 800px;
    height: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}