<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Shopping</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-wrap">
                <div>LOGO</div>
                <div>
                    <ul class="header-menu" id="header-menu">
                        <li v-for="(item, index) in items">
                            <a :href="item.link">{{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="checkout-app">
        <div class="container">
            <h1>Cart List</h1>
            <div class="cart-wrap">
                <template v-for="(item, index) in items">
                    <div class="cart-item">
                        <div class="cart-cover" :style="{'background-image': `url(${item.cover})`}"></div>
                        <div class="cart-info">
                            <div class="cart-name">{{ item.name }}</div>
                            <div class="cart-price">{{ item.price }} x {{ item.qty }} = {{ item.price * item.qty }}
                            </div>
                            <div class="cart-content">{{ item.content }}</div>
                        </div>
                    </div>
                </template>
            </div>
            <div class="cart-total">小計: {{ calcTotal() }}</div>

            <h1>Buyer</h1>
            <div class="form-item">
                <label for="checkout-name">姓名</label>
                <input type="text" placeholder="姓名" id="checkout-name" v-model="buyer.name">
            </div>
            <div class="form-item">
                <label for="checkout-phone">電話</label>
                <input type="text" placeholder="電話" id="checkout-phone" v-model="buyer.phone">
            </div>
            <div class="form-item">
                <label for="checkout-address">地址</label>
                <input type="text" placeholder="地址" id="checkout-address" v-model="buyer.address">
            </div>
            <div class="checkout-fn">
                <button @click.prevent="doCheckout">成立訂單</button>
            </div>
        </div>
    </div>
</body>
<script type="module" src="assets/js/checkout.js"></script>

</html>